<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jack Wardell</title>
    <link rel="shortcut icon" href="{{ url_for("static", filename="img/favicon.ico") }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for("static", filename="img/favicon.ico") }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="col-12">
        <div class="header">
            <div class="text-center">
                <h1>{{ cv.name }}</h1>
                <h4>{{ cv.job_title }}</h4>
            </div>
        </div>

        <hr>

        <div class="nav-scroller my-0">
            <nav class="nav d-flex justify-content-between my-0">
                {% for link in cv.links %}
                    <a class="p-2" target="_blank" href="{{ link[0] }}">{{ link[1] }}</a>
                {% endfor %}
            </nav>
        </div>

        <hr>

        <div class="row">
            <div class="col text-center">
                <img src="{{ url_for("static", filename="img/cv_img.jpg") }}" class="rounded-circle mb-3" alt="..." width="100" height="100">
                <h5>{{ cv.email_address }} / {{ cv.phone_number }}</h5>
                <h5>{{ cv.nationality }}</h5>
            </div>
        </div>

        <hr>

        <h5 class="section-title">Profile</h5>
        <div class="row">
            <div class="col-md-2">
                About Me
            </div>
            <div class="col-md-10">
                <p>{{ cv.summary }}</p>
            </div>
{#            <div class="col-md-2">#}
{#                Languages#}
{#            </div>#}
{#            <div class="col-md-10">#}
{#                {% for language in cv.languages %}#}
{#                    <p>{{ language }}</p>#}
{#                {% endfor %}#}
{#            </div>#}
        </div>

        <hr>

        <h5 class="section-title">Education</h5>
        <div class="row">
            {% for education in cv.education %}
                <div class="col-md-2">
                    <p>{{ education.date }}</p>
                </div>
                <div class="col-md-10">
                    <h5>{{ education.institution }}{% if education.degree %}, {{ education.degree }}{% endif %}</h5>
                    <p>{{ education.location }}</p>
                    {% for line in education.description.lines %}
                        <p>{{ line }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <hr>

        <h5 class="section-title">Employment</h5>
        <div class="row">
            {% for job in cv.jobs %}
                <div class="col-md-2">
                    <p>{{ job.start_date }} - {{ job.end_date }}</p>
                </div>
                <div class="col-md-10">
                    <h5>{{ job.job_title }}, {{ job.employer }}</h5>
                    <p>{{ job.location }}</p>
                    {% for line in job.description.lines %}
                        {% if line is iterable and line is not string %}
                            <ul>
                                {% for li in line %}
                                    <li>{{ li }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>{{ line }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <hr>

        <h5 class="section-title">Skills</h5>
        <div class="row">
            {% for skill_group, skills in cv.skills.items() %}
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <p>
                        <strong>{{ skill_group }}: </strong>{{ skills | join(", ") }}
{#                        {% for skill in skills %}#}
{#                            {{ skill[0] }},#}
{#                        {% endfor %}#}
                    </p>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
</body>
</html>