<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jack Wardell CV</title>
    <link rel="shortcut icon" href="{{ url_for("static", filename="img/favicon.ico") }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for("static", filename="img/favicon.ico") }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}?new=true">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <div class="col-12">
        <div class="header">
            <div class="text-center">
                <h1 class="special-font">Jack Wardell</h1>
                <h4 class="special-font">Data Engineer / Software Engineer</h4>
            </div>
            {% if not request.args.get("for_pdf") == "True" %}
                <div class="text-center">
                    <img src="{{ url_for("static", filename="img/cv_img.jpg") }}" class="rounded-circle mb-3" alt="..." width="100" height="100">
                </div>
            {% endif %}
        </div>
    </div>
    <hr>
    {% if not request.args.get("for_pdf") == "True" %}
        <div class="nav-scroller my-0">
            <nav class="nav d-flex justify-content-between my-0">
                <a class="p-2" target="_blank" href="https://github.com/jackwardell">GitHub</a>
                <a class="p-2" target="_blank" href="https://www.linkedin.com/in/jackwardell/">LinkedIn</a>
                <a class="p-2" target="_blank" href="https://www.antipodecoefficient.com/">Antipode Coefficient</a>
                <a class="p-2" target="_blank" href="https://github.com/jackwardell/jackwardell/raw/master/JACK_WARDELL_CV.pdf">Download PDF</a>
            </nav>
        </div>
    {% else %}
        <div class="text-center">
            <p class="p-0 m-0">CV @ <a href="https://www.jackwardell.co.uk">https://www.jackwardell.co.uk</a></p>
            <p class="p-0 m-0">GitHub @ <a href="https://github.com/jackwardell">https://github.com/jackwardell</a></p>
            <p class="p-0 m-0">LinkedIn @ <a href="https://www.linkedin.com/in/jack-wardell/">https://www.linkedin.com/in/jackwardell</a></p>
        </div>
    {% endif %}
    <hr>

    <section>
        <h5 class="section-title">Profile</h5>
        <div class="my-3">
            <h6 class="section-subtitle">One-liner</h6>
            <ul style="list-style-type: none;">
                <li>I am a resourceful, curious and pragmatic software developer who genuinely enjoys learning, solving and building.</li>
            </ul>
        </div>
        <div class="my-3">
            <h6 class="section-subtitle">Summary</h6>
            <ul>
                <li class="my-1">Python developer and software engineer — specialising in data engineering (e.g. SQL, Pandas, Numpy, Sklearn) and full stack web development (e.g. Flask, Bootstrap4, JQuery, SQLAlchemy, PostgreSQL, Docker)</li>
                <li class="my-1">Open source developer: packages on pip, many projects and repos on GitHub and contributions to open source libraries like Flask</li>
                <li class="my-1">Technical experience in: data ingestion (e.g. scraping, websockets, APIs), databases (e.g. PostgreSQL, Redis), mission-critical applications, webdev, REST APIs, TDD, end-to-end testing (e.g. Selenium), DevOps & CI/CD, diagnostics, Docker and microservices</li>
                <li class="my-1">Extensive knowledge of: agile frameworks (e.g. Kanban, Scrum), the lean startup approach, OKRs and mutual learning</li>
                <li class="my-1">Hands-on experience with cloud and other technologies: Azure, AWS, Heroku, Tableau, PowerBI, Alteryx, Streamsets and GitHub</li>
                <li class="my-1">Values: simplicity, courage, respect, compassion, curiosity, transparency, customer collaboration, feedback and adapting to change</li>
            </ul>
        </div>
        <div class="my-3">
            <h6 class="section-subtitle">Looking for</h6>
            <ul>
                <li class="my-1">The ability to deliver value to the customer and business</li>
                <li class="my-1">Exciting new challenges</li>
                <li class="my-1">A highly collaborative, cross-functional agile team</li>
                <li class="my-1">A non-hierarchical and psychologically safe working environment</li>
            </ul>
        </div>
    </section>
    <hr>
    <section class="my-4">
        <h5 class="section-title">Employment History</h5>
        <div class="my-3">
            <h6 class="section-subtitle">AI Engineer at Shell: <span class="sub-subtitle">Dec 2019 - Present, London</span></h6>
            <ul>
                <li class="my-1">Role: Promotion from previous role after comprehensive training in machine learning (e.g. Udacity), in the same team</li>
                <li class="my-1">Delivered:
                    <ul>
                        <li>Ad-hoc model creation and model deployment on Azure</li>
                        <li>Feature selection and hyperparameter tuning in kubernetes</li>
                        <li>A self-service Flask webapp that allows users to build machine learning models with a UI</li>
                        <li>Migration of monolithic codebase to microservices in kubernetes</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="my-3">
            <h6 class="section-subtitle">Data Engineer at Shell: <span class="sub-subtitle">June 2018 - Dec 2019, London</span></h6>
            <ul>
                <li class="my-1">Role: On-site consultant data engineer in ScrumBan agile team, using lean start-up approach and collaborating with the customer weekly</li>
                <li class="my-1">Business Aim: To optimise internal customer decision making by applying machine learning to various discrete signals from multiple sources</li>
                <li class="my-1">Delivered:
                    <ul>
                        <li>Version control & CI/CD</li>
                        <li>Data ingestion from multiple sources, processing & persistence</li>
                        <li>A machine learning pipeline</li>
                        <li>A mission-critical advanced web application</li>
                    </ul>
                </li>
                <li class="my-1">Stack: Python, Flask, SQLAlchemy, Pandas, Numpy, Sklearn, Git, Docker, Jenkins, Azure, PostgreSQL, Redis, Blob, HTML, CSS, Jinja2, Javascript, JQuery, Bootstrap4, Kubernetes, Celery, Scrum, Kanban, Lean Startup, Mutual Learning, Jira, Slack, ACT and RFT</li>
                <li class="my-1">Internally awarded prizes within Shell: ‘Code Masters Award’, ‘Downstream Directors Award’ and the ‘Increasing Profitability In The Base Business Award’</li>
            </ul>
        </div>
        <div class="my-3">
            <h6 class="section-subtitle">Big Data Engineer at Kubrick Group: <span class="sub-subtitle">Feb 2018 - Present, London</span></h6>
            <ul>
                <li class="my-1">Role: Rigorously trained on-site for 4 months in the discipline of big data engineering; learning technical, business and soft skills</li>
                <li class="my-1">Stack: Python, SQL (e.g. T-SQL, Microsoft SQL Server), NoSQL (e.g. MongoDB), Spark (e.g. Hadoop, Hive), Excel, GDPR and data security
                </li>
            </ul>
        </div>
    </section>
    <hr>
    <section class="my-4">
        <h5 class="section-title">Education</h5>
        <div class="my-3">
            <h6 class="section-subtitle">UCL: MSci Chemistry: <span class="sub-subtitle">London</span></h6>
            <ul>
                <li class="my-1">3rd Year dissertation on ‘Structural Defects in Metal–Organic Frameworks’ under Prof. Ben Slater</li>
                <li class="my-1">4th Year advanced chemical project on ‘Synthesis and Study of Exotic Magnets — Engineering New Quantum States’ under Prof. Andrew Wills</li>
                <li>Grade: 2.1</li>
            </ul>
        </div>
        <div class="my-3">
            <h6 class="section-subtitle">Abingdon School: <span class="sub-subtitle">Oxford</span></h6>
            <ul>
                <li>A-levels: Chemistry A*, Maths A*, Further Maths B, Art A</li>
            </ul>
        </div>
    </section>
    <hr>
    <section class="my-4">
        <h5 class="section-title">Skills</h5>
        <div class="my-3">
            <h6 class="section-subtitle">Key Skills:</h6>
            <ul>
                <li class="my-1">Data engineering: data ingestion, data pipelines, AI/ML engineering, data analysis, data modelling and machine learning</li>
                <li class="my-1">Software engineering: back end & frond end engineering, databases, TDD, SOLID, APIs and design</li>
                <li class="my-1">Agile & other methodologies: Scrum, Kanban, Lean, XP, OKRs, mutual learning and DevOps</li>
                <li class="my-1">Other: chemistry, maths, Microsoft Office, public speaking, horticulture, botany, tree identification and trading</li>
            </ul>
        </div>
        <div class="my-3">
            <h6 class="section-subtitle">Languages, Libraries, etc:</h6>
            <ul>
                <li class="my-1">Python, SQL, HTML, CSS, Javascript, Flask, JQuery, Bootstrap4, Jinja2, Pandas, Numpy, Scikit-learn, SQLAlchemy, PostgreSQL, Docker, Git and Click</li>
            </ul>
        </div>
    </section>
    <hr>
    <section class="my-4">
        <h5 class="section-title">Other</h5>
        <div class="my-3">
            <h6 class="section-subtitle">Projects:</h6>
            <ul>
                <li class="my-1">
                    Antipode Coefficient (<a href="https://www.antipodecoefficient.com/">https://www.antipodecoefficient.com/</a>)
                    <ul>
                        <li class="my-1">Built a website to calculate the antipode coefficient between two points. The basic idea is that two points can be described with a number between 0 and 1, where 1 represents a place being perfectly opposite on the globe</li>
                        <li class="my-1">Stack: Flask, SQLAlchemy, Alembic, PostgreSQL, Heroku, Mapbox, GeoPy, GeoJSON, Gunicorn, Click, Bootstrap4, pytest, TDD, GitHub and JQuery</li>
                    </ul>
                </li>
                <li class="my-1">
                    The Urban Goose (<a href="https://the-urban-goose.herokuapp.com/">https://the-urban-goose.herokuapp.com/</a>)
                    <ul>
                        <li class="my-1">Built a website for a friend to review restaurants in London with a rich map interface (in beta — still collaborating with him)</li>
                    </ul>
                </li>
                <li class="my-1">
                    SlackTime (<a href="https://github.com/jackwardell/SlackTime">https://github.com/jackwardell/SlackTime</a>)
                    <ul>
                        <li class="my-1">Built a simple, fast and intuitive python package for the Slack WebAPI</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="my-3">
            <h6 class="section-subtitle">Learning:</h6>
            <ul>
                <li class="my-1">
                    Machine Learning Nanodegree — Udacity
                    <ul>
                        <li>Completed multiple projects on supervised and unsupervised learning, with Sklearn and PyTorch</li>
                        <li>Stack: Ensemble models, Bayesian models, SVMs, image classifiers, PCA, Scikit-learn, PyTorch, Matplotlib, Seaborn, Pandas and Numpy</li>
                    </ul>
                </li>
                <li class="my-1">Accelerated Computer Science Fundamentals Specialization — University OF Illinois at Urbana-Champaign (through Coursera)</li>
                <li class="my-1">Easy to Advanced Data Structures — William Fiset (through Udemy)</li>
            </ul>
        </div>
    </section>
</div>
</body>
</html>
